In [1]:
import pandas as pd
from flatten import flatten, mappables, sequentials

sequentials.add(list)

it = {"b": 2, "a": 1, "c": {"a": 1, "b": {1, 2, 3}}, "d": [(1, 2), {"b": 1, "a": 2}]}

flatten(it)

{'b': 2,
 'a': 1,
 'c.a': 1,
 'c.b': {1, 2, 3},
 'd.0': (1, 2),
 'd.1.b': 1,
 'd.1.a': 2}

In [2]:
df = pd.DataFrame([it] * 10)

df = pd.DataFrame(df.apply(lambda x: flatten(x.to_dict()), axis=1).tolist())

df.loc[df["c.b"] ==  {1, 2, 3}]

   b  a  c.a        c.b     d.0  d.1.b  d.1.a
0  2  1    1  {1, 2, 3}  (1, 2)      1      2
1  2  1    1  {1, 2, 3}  (1, 2)      1      2
2  2  1    1  {1, 2, 3}  (1, 2)      1      2
3  2  1    1  {1, 2, 3}  (1, 2)      1      2
4  2  1    1  {1, 2, 3}  (1, 2)      1      2
5  2  1    1  {1, 2, 3}  (1, 2)      1      2
6  2  1    1  {1, 2, 3}  (1, 2)      1      2
7  2  1    1  {1, 2, 3}  (1, 2)      1      2
8  2  1    1  {1, 2, 3}  (1, 2)      1      2
9  2  1    1  {1, 2, 3}  (1, 2)      1      2

In [3]:
x = {3,2,1}

list(enumerate(x))

[(0, 1), (1, 2), (2, 3)]